## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Perform data analysis using Pandas by completing the assigned tasks.
####

In [1]:
import pandas as pd

In [8]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Count how many men and women (feature sex) are represented in this dataset.**

In [9]:
# your code
cnt_of_sex = data.groupby('sex')['sex'].agg(len)

cnt_of_sex

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. What is the average age of men (feature age) across the entire dataset?**

In [11]:
# your code
men_data = data[data.sex == 'Male']

avg_age_men = men_data['age'].mean()

avg_age_men

np.float64(39.43354749885268)

**3. What is the proportion of United States citizens (feature native-country)?**

In [16]:
# your code
us_proportion = (data['native-country'] == 'United-States').mean()

us_proportion

np.float64(0.895857006848684)

**4-5. Calculate the mean and standard deviation of age for those who earn more than 50K per year (feature salary) and those who earn less than 50K per year.**

In [24]:
# your code
less_50k = (data['salary'] == '<=50K').agg(['mean', 'std' ])
more_50k = (data['salary'] == '>50K').agg(['mean', 'std' ])

print(f'Less: {less_50k}.\n\nMore: {more_50k}')

Less: mean    0.759190
std     0.427581
Name: salary, dtype: float64.

More: mean    0.240810
std     0.427581
Name: salary, dtype: float64

**6. Is it true that people who earn more than 50K have at least a higher education? (feature education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, or Doctorate)**

In [34]:
# your code
rich_people = data[data['salary'] == '>50K']
# 7841 all educated people count
education_cnt = rich_people['education'].value_counts()

education_cnt

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Display age statistics for each race (feature race) and each gender. Use groupby and describe. In this way, find the maximum age of men of the Asian-Pac-Islander race.**

In [33]:
# your code
race = data.groupby(['race', 'sex'])['age'].agg([min,max])

race

C:\Users\user\AppData\Local\Temp\ipykernel_27900\2827083110.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  race = data.groupby(['race', 'sex'])['age'].agg([min,max])
C:\Users\user\AppData\Local\Temp\ipykernel_27900\2827083110.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  race = data.groupby(['race', 'sex'])['age'].agg([min,max])

                           min  max
race               sex
Amer-Indian-Eskimo Female   17   80
                   Male     17   82
Asian-Pac-Islander Female   17   75
                   Male     18   90
Black              Female   17   90
                   Male     17   90
Other              Female   17   74
                   Male     17   77
White              Female   17   90
                   Male     17   90

**8. Among whom is the proportion of high earners (>50K) greater: married or single men (feature marital-status)? Consider as married those whose marital-status starts with Married (Married-civ-spouse, Married-spouse-absent, or Married-AF-spouse); consider the rest as single.**

In [40]:
# your code
men_data = data[data['sex'] == 'Male'].copy()

def set_status(row):
    if row['marital-status'] in ('Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'):
        return 'Married'
    else:
        return 'Single'

men_data['married_status'] = men_data.apply(set_status, axis='columns')
proportion = men_data.groupby('married_status')['salary'].value_counts(normalize=True)

proportion

married_status  salary
Married         <=50K     0.559486
                >50K      0.440514
Single          <=50K     0.915505
                >50K      0.084495
Name: proportion, dtype: float64

**9. What is the maximum number of hours a person works per week (feature hours-per-week)? How many people work this number of hours, and what is the percentage of high earners among them?**

In [55]:
# your code
max_load = data['hours-per-week'].max()
print(f"Max hour: {max_load} hour/week")

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print(f"Number of people who work max hours per week: {num_workaholics} kishi")

rich_share = (data[data['hours-per-week'] == max_load]['salary'] == '>50K').mean()

print(f"Proportion: {rich_share:.2%}")

Max hour: 99 hour/week
Number of people who work max hours per week: 85 kishi
Proportion: 29.41%

**10. Calculate the average working time (hours-per-week) for low and high earners (salary) for each country (native-country).**

In [59]:
# your code

pt = data.pivot_table(
    values='hours-per-week', 
    index='native-country', 
    columns='salary', 
    aggfunc='mean'
)

pt

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

**11.Group people into age groups: young, adult, and retiree, where:**
* *young* corresponds to 18-35 years old
* *adult* - 35-70 years old
* *retiree* - 70-100 years old

**Assign the name of the corresponding group to each person in a new column called 'AgeGroup'.**

In [60]:
# your code
def set_age(row):

    if row.age >= 17 and row.age <= 35:
        return 'young'
    elif row.age > 35 and row.age <= 70:
        return 'adult'
    else:
        return 'retiree'
    
data['AgeGroup'] = data.apply(set_age, axis='columns')

data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

**12-13. "Determine the number of people earning >50K in each of the age groups (column 'AgeGroup'), and also output the name of the age group where people more frequently earn more than 50K (>50K).**

In [65]:
# your code
rich_people = data[data['salary'] == '>50K']

rich_counts_by_age = rich_people.groupby('AgeGroup').size()

print(rich_counts_by_age)

most_rich_group = rich_counts_by_age.idxmax()

print(f"\nThe most rich group is {most_rich_group}s")

AgeGroup
adult      6042
retiree      94
young      1705
dtype: int64

The most rich group is adults

**14. Group people by occupation (column 'occupation') and determine the number of people in each group. After that, write a filtering function 'filter_func' that will return only those groups where the average age (column 'age') is no more than 40 and all workers work more than 5 hours per week (column 'hours-per-week').**

In [70]:
occupation_counts = data.groupby('occupation').size()

print("Number of people in each occupation group:")
print(occupation_counts)

def filter_func(group):
    avg_age_check = group['age'].mean() <= 40
    min_hours_check = (group['hours-per-week'] > 5).all()

    return avg_age_check and min_hours_check

filtered_data = data.groupby('occupation').filter(filter_func)

remaining_occupations = filtered_data['occupation'].unique()

print("\nOccupations that satisfy the conditions:")
print(remaining_occupations)

Number of people in each occupation group:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

Occupations that satisfy the conditions:
['Armed-Forces']